<!DOCTYPE html>
{% extends "layout.html" %}

{% block pageTitle %}
 Add a New Role
{% endblock %}
 
{% block content %}

<h2 class="govuk-heading-xl">Add a New Role</h2>
 
<form class="newroleform" action="/addrole" method="post">
<body onload="populateSelect1()"></body>

{% if errormessage %} 
 <div class="govuk-error-message">{{ errormessage }}</div>
  {% if 'role name' in errormessage %}
  {% set rolenameError = "true" %}
  {% endif %}
  {% if 'link' in errormessage %}
  {% set rolelinkError = "true" %}
  {% endif %}
  {% if 'job specification' in errormessage %}
  {% set rolespecError = "true" %}
  {% endif %}
  {% if 'job responsibilities' in errormessage %}
  {% set rolerespError = "true" %}
  {% endif %}
{% endif %}

<br>
 {% if rolenameError %}
 {{ govukInput({
 label: {
 text: "Role Name"
 },
 id: "jobRole",
 name: "jobRole",
 value: data["jobRole"], 
 errorMessage: {text: errormessage }
 }) }}
 {% elif errormessage %}
 {{ govukInput({
 label: {
 text: "Role Name"
 },
 id: "jobRole",
 name: "jobRole",
 hint: {text: "Role name must be no longer than 40 characters long"},
  value: data["jobRole"]
 }) }}
 {% else %}
 {{ govukInput({
 label: {
 text: "Role Name"
 },
 id: "jobRole",
 name: "jobRole",
 hint: {text: "Role name must be no longer than 40 characters long"} 
 }) }}
 {% endif %} 


 {% if rolespecError %}
 {{ govukTextarea({
   name: "jobSpec",
   id: "jobSpec",
    errorMessage: {text: errormessage },
   label: {
     text: "Role Specification"
   }
 }) }}
 {% elif errormessage %}
 {{ govukTextarea({
   name: "jobSpec",
   id: "jobSpec",
   value: data["jobSpec"],
   label: {
     text: "Role Specification"
   }
 }) }}
  {% else %}
{{ govukTextarea({
   name: "jobSpec",
   id: "jobSpec",
   label: {
     text: "Role Specification"
   }
 }) }}
  {% endif %} 
 

 <div class="govuk-form-group">
    <label class="govuk-label" for="jobBandLevel">
      Band Level
    </label>
    <select class="govuk-select" id="jobBandLevel" name="jobBandLevel">
    </select>
  </div>



  <div class="govuk-form-group">
    <label class="govuk-label" for="jobFamily">
      Job Family
    </label>
    <select class="govuk-select" id="jobFamily" name="jobFamily">
    </select>
  </div>

 {% if rolelinkError %}
 {{ govukInput({
 label: {
 text: "Job Role Link"
 },
 id: "jobLink",
 name: "jobLink",
 value: data["jobLink"],
 errorMessage: {text: errormessage }
 }) }}
 {% elif errormessage %}
 {{ govukInput({
 label: {
 text: "Job Role Link"
 },
 id: "jobLink",
 name: "jobLink",
 value: data["jobLink"],
 hint: {text: "The link must start with 'https://'"}
 }) }}
 {% else %}
{{ govukInput({
 label: {
 text: "Job Role Link"
 },
 id: "jobLink",
 name: "jobLink",
 value: "https://",
hint: {text: "The link must start with 'https://'"}
}) }}
 {% endif %} 


{% if rolerespError %}
{{ govukTextarea({
   name: "jobResponsibilities",
   id: "jobResponsibilities",
   errorMessage: {text: errormessage },
   label: {
     text: "Role Responsibilities"
   }
 }) }}
  {% elif errormessage %}
  {{ govukTextarea({
   name: "jobResponsibilities",
   id: "jobResponsibilities",
   value: data["jobResponsibilities"],
   label: {
     text: "Role Responsibilities"
   }
 }) }}
  {% else %}
 {{ govukTextarea({
   name: "jobResponsibilities",
   id: "jobResponsibilities",
   label: {
     text: "Role Responsibilities"
   }
 }) }}
  {% endif %} 


 
 <button type="submit" class="govuk-button" data-module="govuk-button">
 Submit
 </button>


<script>
var bands = {{ jobBandInfo | dump | safe }}
var family = {{ jobFamilyInfo | dump | safe }}

    function populateSelect1() {
        var ele = document.getElementById('jobBandLevel');
        for (var i = 0; i < bands.length; i++) {
            ele.innerHTML = ele.innerHTML +
                '<option value="' + bands[i] + '">' + bands[i] + '</option>';
        }

        var fam = document.getElementById('jobFamily');
        for (var y = 0; y < family.length; y++) {
            fam.innerHTML = fam.innerHTML +
                '<option value="' + family[y] + '">' + family[y] + '</option>';
        }
    }
</script>

 
 </form>

 
{% endblock %}