{% extends "layout.html" %} 
		{% block pageTitle %} 
		  Apprentice Competencies
		{% endblock %} 
		

		{% block content %}
		<div class="govuk-width-container">
		  <main class="govuk-main-wrapper">
		

		    <div class="govuk-grid-row">
		      <div class="govuk-grid-column-two-thirds">
		        <h1 class="govuk-heading-xl">Apprentice Competencies</h1>
		      </div>
		    </div>
		

		    <div class="govuk-grid-row">
		      <div class="govuk-grid-column-two-thirds">
		        <h2 class="govuk-heading-l">Personal Performance</h2>
		        <p class="govuk-body-l">Developing self-awareness</p>
		        <p class="govuk-body">Understands own strengths and areas of development. Self-aware of own wellbeingand seeks support where appropriate.</p>
		        <p class="govuk-body-l">Managing yourself</p>
		        <p class="govuk-body">Works with People Manager to sets and achievegoalsby monitoring progress regularly against performance.</p>
		        <p class="govuk-body-l">Continuing personal development</p>
		        <p class="govuk-body">Flexible and willingness to learnon the jobwhile proactively keeping up to date with the knowledge and skills needed.</p>
		        <p class="govuk-body-l">Acting with integrity</p>
		        <p class="govuk-body">Understands the company values and applies this to own principles. Is open and honest and acts respectfully with others and customers.</p>
		      </div>
		    </div>
		

		    <br><br>
		

		    <div class="govuk-grid-row">
		        <div class="govuk-grid-column-two-thirds">
		          <h2 class="govuk-heading-l">Working with Others</h2>
		          <p class="govuk-body-l">Mobilises self and others to drive delf-improvement</p>
		          <p class="govuk-body">Understand how to respond constructively to developmental feedback from a diverse range of people and implement changesas a result.</p>
		          <p class="govuk-body-l">Champions continuous improvement</p>
		          <p class="govuk-body">Displayshigh levels ofenthusiasm, energy and pace toachieve performance and results.</p>
		          <p class="govuk-body-l">Developing networks and building and maintaining relationships</p>
		          <p class="govuk-body">Recognises the need to build internal networks within immediate teams and projects. </p>
		          <p class="govuk-body-l">Working within teams</p>
		          <p class="govuk-body">Respects others by attending meetings on time and contributing where appropriate.Recognising how current role relates to others within Capability and project.</p>
		        </div>
		    </div>
		

		    <br><br>
		

		    <div class="govuk-grid-row">
		        <div class="govuk-grid-column-two-thirds">
		          <h2 class="govuk-heading-l">Setting Direction, Development and Accountability</h2>
		          <p class="govuk-body-l">Effective time management</p>
		          <p class="govuk-body">Understands role, tasks and deadlines and work towards these, escalating any issues where appropriate to People/Project Manager.</p>
		          <p class="govuk-body-l">Promoting accountability</p>
		          <p class="govuk-body">Accepts personal responsibility for quality and timelines of work set.</p>
		          <p class="govuk-body-l">Effective meetings</p>
		          <p class="govuk-body">Works to manage diary, commitments and ready to attend meetings on time.</p>
		          <p class="govuk-body-l">Problem solving</p>
		          <p class="govuk-body">Actively supports new initiatives and tries different ways of doing things, learning from others experiences.</p>
		        </div>
		      </div>
		

		  </main>
		</div>
		{% endblock %} 
