{% extends "layout.html" %} 
{% block pageTitle %} 
  Associate Competencies
{% endblock %} 

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
  <a class="govuk-back-link" href="index">Home</a>
{% endblock %}

{% block content %}
<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Associate Competencies</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Personal Performance</h2>
        <p class="govuk-body-l">Developing self-awareness</p>
        <p class="govuk-body">Seeksout new challenges and opportunitiesthat may stretch currentabilities.Builds on own self-awareness of overall wellbeing.</p>
        <p class="govuk-body-l">Managing yourself</p>
        <p class="govuk-body">Recognises the need for SMART goals, and demonstratesa “can do” attitude, through having own internal standards of performance.</p>
        <p class="govuk-body-l">Continuing personal development</p>
        <p class="govuk-body">Seeksout opportunities to improve skills beyond the role scope whilst also seeking regular feedback.</p>
        <p class="govuk-body-l">Acting with integrity</p>
        <p class="govuk-body">Encourages positive behaviours in others, while role modelling the Kainos values.</p>
      </div>
        <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Working with Others</h2>
        <p class="govuk-body-l">Mobilises self and others to drive self-improvement </p>
        <p class="govuk-body">Actively take opportunities to learn from a diverse range of people, tomaximise performanceand mentor/coach more junior colleagues.</p>
        <p class="govuk-body-l">Champions continuous improvement </p>
        <p class="govuk-body">Is creative in finding ways to learn and personally improve results, suggesting new approaches to benefit self andthe team. Review progress against goalsmaking necessary adjustments todeliver successfully.</p>
        <p class="govuk-body-l">Developing networks and building and maintaining relationships</p>
        <p class="govuk-body">Consistently collaborates within immediate teams and finds opportunities to build rapport and trust while supporting others.Proactively contribute to the work of the whole team whilst building positive colleague relationships </p>
        <p class="govuk-body-l">Working within teams</p>
        <p class="govuk-body">Encourages collaborative team working within immediate teams and across the wholebusiness. Supports an environment where others can make mistakes and learn from it. Open to giving and receiving honest feedback in order to highlight areas of improvement and recognise high performance.</p>
      </div>
    </div>

  </main>
</div>
{% endblock %}