{% extends "layout.html" %} 
{% block pageTitle %} 
  Job Band Level Competencies
{% endblock %} 

{% block content %}
<h2 class="govuk-heading-xl">{{jobRoleInfo.bandLevel}} Competency Information</h2>


{% for i in jobRoleInfo.competencyStage %}

{% from "govuk/components/details/macro.njk" import govukDetails %}
{{ govukDetails({summaryText:"Competency "+loop.index,text:i, open: true}) }}

{% endfor %}

{% set link = "http://localhost:3000/training?jobBandLevel=" + jobRoleInfo.bandLevel %}

{{ govukButton({
  text: "View available training",
  href: link,
  classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
  isStartButton: true
}) }}
{% endblock %} 