{% extends "layout.html" %} 
{% block pageTitle %} 
  Job Band Level Competencies
{% endblock %} 

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
  <a class="govuk-back-link" href="home.html">Home</a>

<h2 class="govuk-heading-xl">{{jobRoleInfo.bandLevel}} Competency Information</h2> 

{% if(jobRoleInfo.competencyStage1 != null) and (jobRoleInfo.competencyStage2 == null) and (jobRoleInfo.competencyStage3 == null) and (jobRoleInfo.competencyStage4 == null) %}

{% from "govuk/components/details/macro.njk" import govukDetails %}
{{ govukDetails({summaryText:"Competency 1" ,text:jobRoleInfo.competencyStage1}) }}

{% endif %}

{% if(jobRoleInfo.competencyStage2 != null) and (jobRoleInfo.competencyStage3 == null) and (jobRoleInfo.competencyStage4 == null) %}

{% from "govuk/components/details/macro.njk" import govukDetails %}
{{ govukDetails({summaryText:"Competency 1" ,text:jobRoleInfo.competencyStage1}) }}

{% from "govuk/components/details/macro.njk" import govukDetails %}
{{ govukDetails({summaryText:"Competency 2" ,text:jobRoleInfo.competencyStage2}) }}

{% endif %}


{% if(jobRoleInfo.competencyStage3 != null) and (jobRoleInfo.competencyStage4 == null) %}

{% from "govuk/components/details/macro.njk" import govukDetails %}
{{ govukDetails({summaryText:"Competency 1" ,text:jobRoleInfo.competencyStage1}) }}

{% from "govuk/components/details/macro.njk" import govukDetails %}
{{ govukDetails({summaryText:"Competency 2" ,text:jobRoleInfo.competencyStage2}) }}

{% from "govuk/components/details/macro.njk" import govukDetails %}
{{ govukDetails({summaryText:"Competency 3" ,text:jobRoleInfo.competencyStage3}) }}

{% endif %}

{% if(jobRoleInfo.competencyStage4 != null) %}

{% from "govuk/components/details/macro.njk" import govukDetails %}
{{ govukDetails({summaryText:"Competency 1" ,text:jobRoleInfo.competencyStage1}) }}

{% from "govuk/components/details/macro.njk" import govukDetails %}
{{ govukDetails({summaryText:"Competency 2" ,text:jobRoleInfo.competencyStage2}) }}

{% from "govuk/components/details/macro.njk" import govukDetails %}
{{ govukDetails({summaryText:"Competency 3" ,text:jobRoleInfo.competencyStage3}) }}

{% from "govuk/components/details/macro.njk" import govukDetails %}
{{ govukDetails({summaryText:"Competency 4" ,text:jobRoleInfo.competencyStage4}) }}

{% endif %}

{% endblock %} 

{% set link = "http://localhost:3000/training?jobBandLevel=" + jobRoleInfo.bandLevel %}

{% block content %}
{{ govukButton({
  text: "View available training",
  href: link,
  classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
  isStartButton: true
}) }}
{% endblock %} 
