{% extends "layout.html" %} 
{% block pageTitle %} 
  Job Band Level Competencies
{% endblock %} 

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
  <a class="govuk-back-link" href="home.html">Home</a>

  <h2 class="govuk-heading-xl">{{jobRoleInfo.bandLevel}} Competency Information</h2>


{% for i in jobRoleInfo.competencyStage %}

{% from "govuk/components/details/macro.njk" import govukDetails %}
{{ govukDetails({summaryText:"Competency "+loop.index,text:i}) }}

{% endfor %}


{% endblock %} 

{% set link = "http://localhost:3000/training?jobBandLevel=" + jobRoleInfo.bandLevel %}

{% block content %}
{{ govukButton({
  text: "View available training",
  href: link,
  classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
  isStartButton: true
}) }}
{% endblock %} 