{% extends "layout.html" %}

{% block pageTitle %}
 Edit a Role
{% endblock %}
 
{% block content %}

<h2 class="govuk-heading-xl">Edit a Role</h2>
 
<form class="editroleform" action="/editrole" method="post">
<body onload="populateSelect1()"></body>


{% if errormessage %} 
  <div class="govuk-error-message">{{ errormessage }}</div> 
  {% if 'jobRole' in errormessage %}
  {% set rolenameError = "true" %}
  {% endif %}
{% endif %}

<br>
 {% if rolenameError %}
 {{ govukInput({
 label: {
 text: "Role Name"
 },
 id: "jobRole",
 name: "jobRole",
 value: data["jobRole"],
 hint: {text: "Role name must be no longer than 20 characters long"}, 
 errorMessage: {text: errormessage}
 }) }}
 {% else %}
 {{ govukInput({
 label: {
 text: "Role Name"
 },
 id: "jobRole",
 name: "jobRole",
 hint: {text: "Role name must be no longer than 20 characters long"}, 
 value: data["jobRole"]
 }) }}
 {% endif %} 



 {{ govukTextarea({
   name: "jobSpec",
   id: "jobSpec",
   label: {
     text: "Role Specification"
   }
 }) }}

 

 <div class="govuk-form-group">
    <label class="govuk-label" for="jobBandLevel">
      Band Level
    </label>
    <select class="govuk-select" id="jobBandLevel" name="jobBandLevel">
    </select>
  </div>



  <div class="govuk-form-group">
    <label class="govuk-label" for="jobFamily">
      Job Family
    </label>
    <select class="govuk-select" id="jobFamily" name="jobFamily">
    </select>
  </div>


{{ govukInput({
 label: {
 text: "Job Role Link"
 },
 id: "jobLink",
 name: "jobLink",
 value: data["jobLink"]

}) }}


{{ govukTextarea({
   name: "jobResponsibilities",
   id: "jobResponsibilities",
   label: {
     text: "Role Responsibilities"
   }
 }) }}


 
 <button type="submit" class="govuk-button" data-module="govuk-button">
 Submit
 </button>


<script>
var bands = {{ jobBandInfo | dump | safe }}
var family = {{ jobFamilyInfo | dump | safe }}

    function populateSelect1() {
        var ele = document.getElementById('jobBandLevel');
        for (var i = 0; i < bands.length; i++) {
            ele.innerHTML = ele.innerHTML +
                '<option value="' + bands[i] + '">' + bands[i] + '</option>';
        }

        var fam = document.getElementById('jobFamily');
        for (var y = 0; y < family.length; y++) {
            fam.innerHTML = fam.innerHTML +
                '<option value="' + family[y] + '">' + family[y] + '</option>';
        }
    }
</script>

 
 </form>

 
{% endblock %}