{% extends "layout.html" %} 
{% block pageTitle %} 
  Home
{% endblock %} 

{% block beforeContent %}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">K Man Group (The Better Team)</h1>

      <p class="govuk-body">Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>see a list of job roles available</li>
        <li>view job specifications</li>
        <li>navigate the kainos career lattice</li>
      </ul>

      <p class="govuk-body">Quick and simple!</p>

      <body>
        <script>  "use strict";
          const cx = 100, cy = 100;  // Radius
          const _clockstyle = "width: " + (2 * cx) + "px;  height: " + (2 * cy) + "px;"
            + "border: 7px solid #282828; background: #585858;"
            + "border-radius: 50%; margin: 50px;"
            + "box-shadow: -4px -4px 10px rgba(67,67,67,0.5), inset 4px 4px 10px rgba(0,0,0,0.5),"
            + "inset -4px -4px 10px rgba(67,67,67,0.5), 4px 4px 10px rgba(0,0,0,0.3);"

          sidiv("", _clockstyle)
          let c = canvas2D({ width: px(2 * cx), height: px(2 * cy) })
          c.ctx.lineCap = "round"
          unselectBase()

          // Paint anything radial
          function tick(color, width, angle, length, innerlength = 0) {
            function ls(length) { return length * Math.sin(angle / 180.0 * Math.PI) }
            function lc(length) { return -length * Math.cos(angle / 180.0 * Math.PI) }
            c.setLineType(width, color)
            c.line(cx + ls(innerlength), cy + lc(innerlength), cx + ls(length), cy + lc(length))
          }

          // Draw clock
          function drawClock() {
            c.clear()
            // Draw ticks
            for (let i = 0; i < 360; i += 30)
              if ((i % 90) == 0) tick("#1df52f", 5, i, 88, 70)
              else tick("#bdbdcb", 3, i, 88, 75)

            // draw hands
            let t = new Date();  // get time
            tick("#61afff", 5, t.getHours() * 30, 50)  // hour
            tick("#71afff", 2, t.getMinutes() * 6, 70)  // min
            tick("#ee791a", 2, t.getSeconds() * 6, 80)  // s

            // drwa center
            c.setFillStyle("#4d4b63")
            c.circle(cx, cy, 10, { fill: true })
          }
          drawClock()
          setInterval(drawClock, 1000)
        </script>
      </body>

      {{ govukButton({
        text: "Search jobs",
        href: "http://localhost:3000/jobroles",
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">Before you start</h2>

      <p class="govuk-body">You cannot register for this service if you’re in the UK illegally.</p>
    </div>

    <div class="govuk-grid-column-one-third">

      <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Quick Links
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a class="govuk-link" href="http://localhost:3000/apprenticecompetencies.html">
                View Apprentice Competencies
              </a>
            </li>
            <li>
              <a class="govuk-link" href="http://localhost:3000/associatecompetencies.html">
                View Associate Competencies
              </a>
            </li>
            <li>
              <a class="govuk-link" href="http://localhost:3000/roleMatrix">
                View Role Matrix
              </a>
            </li>
            <li>
              <a class="govuk-link" href="http://localhost:3000/viewAllCapabilities">
                View Capability Lead
              </a>
            </li>
             <li>
              <a class="govuk-link" href="http://localhost:3000/jobFamilies">
                View Job Families
              </a>
            </li>
            <li>
              <a href="#" class="govuk-link govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
        <br><br><br><br>
        <h2 class="govuk-heading-m" id="subsection-title">
          Admin
        </h2>
        {{ govukButton({
          text: "Logout",
          href: "http://localhost:3000/logout",
          classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
          isStartButton: true
        }) }}
      </aside>
    </div>
  </div>
{% endblock %}

