{% extends "layout.html" %} 
{% block pageTitle %} 
List of Job Roles
{% endblock %} 

{% block content %}
<h2 class="govuk-heading-xl">Role Matrix</h2> 

{% if rows and rows.length > 0 %}
{% set matrix = [] %}
{% set roleMatrixRow = [] %}
{% set head = [] %}

{% for row in rows %}
  {% set roleMatrixRow = [] %}
  {% for cell in row %}
    {% set roleMatrixRow = (roleMatrixRow.push({text: cell|safe}), roleMatrixRow )%}
  {% endfor %}
  {% set matrix = (matrix.push(roleMatrixRow), matrix )%}
{% endfor %}

{% for header in headers %}
  {% set head = (head.push({text: header}), head)%}
{% endfor %}

{{govukTable({
firstCellIsHeader: true,
head: head, 
rows: matrix,
attributes: {border: '1px solid black', 'border-collapse': collapse;}
 })
}}

{% else %}

There are no job roles.

{% endif %}
{% endblock %}