{% extends "layout.html" %}

{% block pageTitle %} 
Update Capability
{% endblock %} 
 
{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
  <a class="govuk-back-link" href="home.html">Home</a>
{% endblock %}  
 
{% block content %}
<h2 class="govuk-heading-xl">Update Capability</h2> 
 
<form class="Capability Form" action="/UpdateCapability" method="post">

<input type="hidden" id = "capabilityID" name="capabilityID" value = {{capabilityID}}>

{% if errormessage %} 
  {% if 'Capability Name' in errormessage %}
  {% set capabilityNameError = "true" %}
  {% endif %}
{% endif %}

 {% if capabilityNameError %}
 {{ govukInput({
 label: {
 text: "Capability Name"
 },
 id: "capabilityName",
 name: "capabilityName",
 value: data["capabilityName"], 
 errorMessage: {text: errormessage}
 }) }}
 {% else %}
 {{ govukInput({
 label: {
 text: "Capability Name"
 },
 classes: "govuk-input--width-20",
 id: "capabilityName",
 name: "capabilityName",
 value: data["capabilityName"]
 }) }}
{% endif %} 

 
 <button type="submit" class="govuk-button" data-module="govuk-button">
 Submit
 </button>
 
</form>
 
{% endblock %}
