<!DOCTYPE html>
{% extends "layout.html" %} 
{% block pageTitle %} 
  List of Capabilty Leads
{% endblock %} 

{% block content %}
<h2 class="govuk-heading-xl">List of Capability Leads</h2> 

{% if jobroles.length > 0 %}
{% set jobrolesrows = [] %}

{% for jobrole in jobroles %}

{% set jobrolesrows = (jobrolesrows.push([{text: jobrole.forename },{text: jobrole.surname}, {text: jobrole.capability}, {text: jobrole.leadID|safe}]), jobrolesrows) %}

{% endfor %}

{{govukTable({
head: [{ text: "Forename" },{text: "Surname"}, {text: "Capability"}, {text: "More Info"}], 
rows: jobrolesrows })

}}

{% else %}

There are no job roles.

{% endif %}
{% endblock %}